[submodule "rplidar_ros2"]
	path = rplidar_ros2
	url = https://github.com/babakhani/rplidar_ros2.git
[submodule "pointcloud_to_laserscan"]
	path = Antonio_Docker/antonio_ws/src/pointcloud_to_laserscan
	url = https://github.com/ros-perception/pointcloud_to_laserscan.git
	branch = humble
[submodule "Antonio_Docker/antonio_ws/src/Xsens"]
	path = Antonio_Docker/antonio_ws/src/Xsens
	url = https://github.com/jiminghe/Xsens_MTi_ROS_Driver_and_Ntrip_Client.git
	branch = ros2
[submodule "Antonio_Docker/antonio_ws/src/eigen"]
	path = Antonio_Docker/antonio_ws/src/eigen
	url = https://github.com/ros2/eigen3_cmake_module.git
	branch = humble
